.field {
  border: 3px solid white;
  cursor: pointer;
  width: 90px;
  height: 90px;
}

.gameroot {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 90px);
  gap: 10px 10px;
  grid-template-rows: repeat(3, 90px);
  max-width: 290px;
  margin-bottom: 30px;
}

.circle {
  position: relative;
}

.circleWin {
  position: relative;
}

.circleWin::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  border-radius: 50%;
  border: 3px solid green;
}

.circle::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  border-radius: 50%;
  border: 3px solid white;
}

.cross {
  position: relative;
}

.crossWin {
  position: relative;
}

.cross::before,
.cross::after {
  content: '';
  position: absolute;
  background-color: red;
}

.cross::before {
  width: 100%;
  height: 3px;
  top: 50%;
  left: 0;
  transform: translateY(-50%) rotate(45deg);
}

.cross::after {
  width: 3px;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}

.crossWin::before,
.crossWin::after {
  content: '';
  position: absolute;
  background-color: green;
}

.crossWin::before {
  width: 100%;
  height: 3px;
  top: 50%;
  left: 0;
  transform: translateY(-50%) rotate(45deg);
}

.crossWin::after {
  width: 3px;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}