.field {
  border: 3px solid white;
  cursor: pointer;
}

.gameroot {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 90px);
  gap: 10px 10px;
  grid-template-rows: repeat(3, 90px);
}

.circle {
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, white 0%, white 50%, #f0f0f0 50%);
}

.cross {
  position: relative;
}

.cross::before,
.cross::after {
  content: '';
  position: absolute;
  background-color: white;
}

.cross::before {
  width: 100%;
  height: 3px;
  top: 50%;
  left: 0;
  transform: translateY(-50%) rotate(45deg);
}

.cross::after {
  width: 3px;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}