#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  box-sizing: border-box;
}

.header {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
  margin-bottom: 30px;
}

.winnerHeader {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.buttonControl {
  width: 200px;
  height: 50px;
  background-color: lightgray;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  color: black;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.buttonStart:hover {
  background-color: gray;
}
