#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  box-sizing: border-box;
}

.gameroot {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 90px);
  gap: 10px 10px;
  grid-template-rows: repeat(3, 90px);
}

.field {
  border: 3px solid white;
}

.header {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
}