#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  box-sizing: border-box;
}

.header {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
}

.buttonStart {
  width: 100px;
  height: 30px;
  background-color: lightgray;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  color: black;
  font-family: sans-serif;
  font-weight: bold;
}

.buttonStart:hover{
  background-color: gray;
}