#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.gameroot {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 80px);
  gap: 10px;
  grid-auto-rows: 1fr;
}

.field {
  height: 80px;
  width: 80px;
  border: 3px solid white;
}